<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>Add Courier Here</h3>
	<form action="addCourierHere" method ="post">
		Courier Sender Name : <input type="text" name="senderName"/></br></br>
		Courier Sender Address : <input type="text" name="senderAddress"/></br></br>
		Courier Sender Contact : <input type="text" name="senderContact"/></br></br>
		Courier Receiver Name : <input type="text" name="receiverName"/></br></br>
		Courier Receiver Address : <input type="text" name="receiverAddress"/></br></br>
		Courier Receiver Contact : <input type="text" name="receiverContact"/></br></br>
		
		Courier Description : <input type="text" name="courierDescription"/></br></br>
		Courier Weight : <input type="text" name="courierWeight"/></br></br>
		
		Courier Dimentions : <input type="text" name="courierDimentions"/></br></br>
		Contact Type of content :<input type="text" name="courierContent"/></br></br>
		Courier Type : <input type="text" name="courierType"/></br></br>
		<input type="submit" value="saveCourier"/>
	</form>

	
</body>
</html>