<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="saveCompany" method="post">
		Company Name : <input type="text" name="companyName"/></br></br>
		Company Address : <input type="text" name="companyAddress"/></br></br>
		Company Contact : <input type="text" name="companyContact"/></br></br>
		Company SevicePlan : <input type="text" name="companyServicePlan"/></br></br>
		Admin Name: <input type="text" name="adminName"  /></br></br>
		Admin Email: <input type="email"  name="adminEmail"  /></br></br>
		Admin Password:</label> <input type="password" name="adminPassword" /></br></br>
		<input type="submit" name="Register"/>
	</form>
</body>
</html>
  
