<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>Register User Here</h3>


	<form action="saveUser" method="post">
		Enter name: <input type="text" name="name" /><br /> <br /> 
		Enter email: <input type="text" name="email" /><br /> <br /> 
		Enter gender: <input type="text" name="gender" /><br /> <br /> 
		Enter password: <input type="text" name="password" /><br /> <br /> 
		Enter address: <input type="text" name="address" /><br /> <br /> 
		Enter Contact Number: <input type="text" name="contact" /><br /> <br /> 
		 <input type="submit"
			value="Register" />
	</form>
</body>
</html>